

body {
  font-family: ubuntu, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

/* Media query for standard mobile sizes */
@media only screen and (max-width: 851px) {
  .app {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 559px) {
  .app {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 458px) {
  .app {
    max-width: 300px;
    margin: 0 auto;
  }
}